@model WondyRestaurant.Models.OrderDetailsViewModel.OrderDetailsViewModel
@{
    ViewData["Title"] = "Confirm";
}

<h2> Order Confirmation Page</h2>
<hr />

@if (Model.OrderHeader != null)
{
    @Html.Partial("_IndividualOrderDetails")
    <a asp-action="Index" asp-controller="Home" class="btn btn-success">Place Another Order</a>
}
else
{
    <div class="text-danger"> Error ... Please try again !</div>
}

